<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-grouplink" version="0.0.1"
    xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android">
    <name>GroupLinkPlugin</name>
    <js-module name="GroupLinkPlugin" src="www/GroupLinkPlugin.js">
        <clobbers target="cordova.plugins.GroupLinkPlugin" />
    </js-module>
    <platform name="android">
        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="GroupLinkPlugin">
                <param name="android-package" value="cordova-plugin-grouplink.GroupLinkPlugin" />
            </feature>
        </config-file>
        <config-file parent="/*" target="AndroidManifest.xml"></config-file>
        <source-file src="src/android/GroupLinkPlugin.java"
            target-dir="src/cordova-plugin-grouplink/GroupLinkPlugin" />
    </platform>
</plugin>