<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-grouplink" version="0.0.1"
    xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android">
    <name>GroupLinkPlugin</name>


    <js-module name="groupLink" src="www/GroupLinkPlugin.js">
        <clobbers target="groupLink" />
    </js-module>


    <platform name="android">

        <framework src="src/android/grouplink-plugin.gradle" custom="true" type="gradleReference" />

        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="GroupLinkPlugin">
                <param name="android-package" value="cordova.plugin.grouplink.GroupLinkPlugin" />
            </feature>
        </config-file>

        <source-file src="src/android/GroupLinkPlugin.java"
            target-dir="src/cordova/plugin/grouplink" />

        <config-file parent="/*" target="AndroidManifest.xml"></config-file>


        <config-file target="AndroidManifest.xml" parent="/manifest">
            <uses-permission android:name="android.permission.INTERNET" />
            <uses-permission
                android:name="android.permission.ACCESS_FINE_LOCATION " />
            <uses-permission
                android:name="android.permission.ACCESS_COARSE_LOCATION" />
            <uses-permission
                android:name="android.permission.BLUETOOTH_ADMIN" />
            <uses-permission
                android:name="android.permission.ACCESS_WIFI_STATE" />
            <uses-permission
                android:name="android.permission.FOREGROUND_SERVICE" />

            <!-- Mandatory permissions for Android 12 and above.-->
            <!-- Also, they should be asked in runtime. -->
            <uses-permission
                android:name="android.permission.BLUETOOTH_SCAN"
                android:minSdkVersion="31"
                android:usesPermissionFlags="neverForLocation" />
            <uses-permission android:name="android.permission.BLUETOOTH_ADVERTISE" />
            <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />

            <!-- Mandatory permissions for Android 13 and above. -->
            <!-- Also, should be asked in runtime. -->
            <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
        </config-file>

    </platform>

    <platform name="ios">
        <preference name="GROUP_LINK_PODS_VERSION" default="4.4.1"/>

        <config-file target="config.xml" parent="/*">
            <feature name="GroupLinkPlugin">
                <param name="ios-package" value="GroupLinkPlugin" />
            </feature>
        </config-file>

        <config-file target="*-Info.plist" parent="BGTaskSchedulerPermittedIdentifiers">
            <array>
                <string>com.grouplinknetwork.bgtask</string>
            </array>
          </config-file>

        <header-file src="src/ios/GroupLinkPlugin.h" />
        <source-file src="src/ios/GroupLinkPlugin.m" />

        <podspec>
            <config>
                <source url="https://cdn.cocoapods.org/"/>
            </config>
            <pods>
                <pod name="GroupLinkSDK" spec="$GROUP_LINK_PODS_VERSION" />
            </pods>
        </podspec>
    </platform>

</plugin>